name: Admin Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/tr_construction_admin
            git pull origin main
            docker stop tr_construction_admin || true
            docker rm tr_construction_admin || true
            docker build -t tr-admin-image .
            docker run -d --name tr_construction_admin -p 3001:4175 tr-admin-image
            docker image prune -f